.category-card .card-img-overlay {
    /*box-shadow: inset 100vw 0 0 rgba(100,100,100,0.5);*/
    transition: box-shadow linear 0.3s;
}

    /*.category-card .card-img-overlay .card-title.text-white {
        text-shadow: 0 0 10px rgba(255,255,255,0.25);
        transition: text-shadow linear 0.3s;
    }*/

.category-card:hover .card-img-overlay {
    box-shadow: inset 100vw 0 0 rgba(100,100,100,0.5);
    /*box-shadow: unset;*/
}

.category-title {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    color: white;
}

.btn-theme {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 12px 35px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    border: 5px solid black;
    margin-left: -1px;
    margin-top: 5%;
    font-size: 8pt;
    letter-spacing: 5px;
    font-weight: bold;
    font-family: Geogia;
    font-syle: italic;
}

    .btn-theme:hover {
        background-color: transparent;
        color: white;
        border: 5px solid black;
        text-shadow: 2px 2px #000;
    }

.sub-cat-name-container {
    position: absolute;
    top: 0px;
    right: 0px;
    width: calc(100% - 160px);
}

.menu-toggler span {
    background: white !important;
}

.header-nav {
    border-bottom: none !important;
}

.main-nav {
    border-bottom: 2px solid white !important;
}

.secondary-navbar {
    background: black;
    color: white;
}

    .secondary-navbar a {
        color: #E5271E;
    }

    .secondary-navbar a:hover {
        color: #EB5D57;
    }

.navbar-cosmoware {
    background: url(/Themes/Cosmoware/Content/img/navbar_bg.png);
}

@media (max-width: 991px) {
    .header-nav .top-header-items.navbar-nav {
        background: #000 !important;
    }

    .cosmoware-homepage-categories {
        margin-top: 50px;
    }
}

@media (min-width: 992px) {
    .header-nav {
        box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    }

    .cosmoware-homepage-categories {
        margin-top: -120px;
    }
}

.home-page .generalTitle {
    margin-top: 60px;
}

/* category cards */
.cosmoware-card {
    border-radius: 0px;
    bbox-shadow: 14px 14px 28px #adadad, -14px -14px 28px #ffffff;
    -webkit-box-shadow: 8px 8px 16px 5px rgba(114,114,114,0.6);
    box-shadow: 8px 8px 16px 5px rgba(114,114,114,0.6);
    border: 4px solid white;
}

    .cosmoware-card .card-img,
    .cosmoware-card .card-img-top {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .cosmoware-card figure {
        margin: 0px;
    }

figure.snip1190 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    width: 100%;
    background: #000000;
    text-align: center;
}

    figure.snip1190 * {
        -webkit-box-sizing: padding-box;
        box-sizing: padding-box;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    figure.snip1190 img {
        opacity: 0.8;
        width: 100%;
    }

    figure.snip1190 figcaption {
        bottom: 0;
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    figure.snip1190 h2 {
        font-weight: 400;
        left: 0;
        right: 0;
        letter-spacing: -1px;
        margin: 0 auto;
        position: absolute;
        text-transform: uppercase;
        bottom: 50%;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
    }

        figure.snip1190 h2 span {
            font-weight: 800;
        }

    figure.snip1190 p {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 50%;
        opacity: 0;
        font-size: 14px;
        -webkit-transform: translateY(-20%) scale(0.7);
        transform: translateY(-20%) scale(0.7);
    }

    figure.snip1190 .square {
        height: 78px;
        width: 78px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        -webkit-transform: rotate(45deg) translate(-50%, -50%);
        transform: rotate(45deg) translate(-50%, -50%);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }

        figure.snip1190 .square:before,
        figure.snip1190 .square:after,
        figure.snip1190 .square div:before,
        figure.snip1190 .square div:after {
            background-color: #ffffff;
            position: absolute;
            content: "";
            display: block;
            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
        }

        figure.snip1190 .square:before,
        figure.snip1190 .square:after {
            width: 65%;
            height: 2px;
        }

        figure.snip1190 .square div:before,
        figure.snip1190 .square div:after {
            width: 2px;
            height: 65%;
        }

        figure.snip1190 .square:before,
        figure.snip1190 .square div:before {
            left: 0;
            top: 0;
        }

        figure.snip1190 .square:after,
        figure.snip1190 .square div:after {
            bottom: 0;
            right: 0;
        }

    figure.snip1190 a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
    }

    figure.snip1190:hover img,
    figure.snip1190.hover img {
        opacity: 0.25;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    figure.snip1190.has-subtitle:hover h2,
    figure.snip1190.has-subtitle.hover h2 {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    figure.snip1190:not(.has-subtitle):hover h2,
    figure.snip1190:not(.has-subtitle).hover h2 {
        opacity: 1;
        -webkit-transform: scale(120%) translateY(12px);
        transform: scale(120%) translateY(12px);
    }

    figure.snip1190:hover p,
    figure.snip1190.hover p {
        opacity: 1;
        -webkit-transform: translateY(0px) scale(1);
        transform: translateY(0px) scale(1);
    }

    figure.snip1190:hover .square:before,
    figure.snip1190.hover .square:before {
        width: 38%;
    }

    figure.snip1190:hover .square div:before,
    figure.snip1190.hover .square div:before {
        height: 38%;
    }

    figure.snip1190:hover .square:after,
    figure.snip1190.hover .square:after {
        width: 55%;
    }

    figure.snip1190:hover .square div:after,
    figure.snip1190.hover .square div:after {
        height: 55%;
    }